@font-face {
    font-family: "hp-hf-icons-custom";
    src: url("../fonts/hp-hf-icons-eot.eot");
    src: url("../fonts/hp-hf-icons-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hp-hf-icons-woff.woff") format("woff"), url("../../fonts/hp-hf-icons-ttf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
.l1-variation {
    position: relative
}
.l1-variation .hp-icon:before, .l1-variation .hp-icons:before {
    font-family: "hp-hf-icons-custom";
    font-size: 50px;
    line-height: 50px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block
}
.l1-variation .hp-icon.view-all:before {
    content: "\e936"
}
.l1-variation .hp-icon.business:before {
    content: "\E909"
}
.l1-variation .hp-icon.premium:before {
    content: "\E90C"
}
.l1-variation .hp-icon.laptops:before {
    content: "\E90F"
}
.l1-variation .hp-icon.two-in-one:before {
    content: "\E911"
}
.l1-variation .hp-icon.tablets:before {
    content: "\E912"
}
.l1-variation .hp-icon.gaming:before {
    content: "\E90E"
}
.l1-variation .hp-icon.great-value:before {
    content: "\e939"
}
.l1-variation .hp-icon.entry-level:before {
    content: "\e937"
}
.l1-variation .hp-icon.desktops:before {
    content: "\E913"
}
.l1-variation .hp-icon.all-in-one:before {
    content: "\E914"
}
.l1-variation .hp-icon.monitors:before {
    content: "\E91D"
}
.l1-variation .hp-icon.towers:before {
    content: "\e93a"
}
.l1-variation .hp-icon.high-perf:before {
    content: "\e938"
}
.l1-variation .hp-icon.support:before {
    content: "\e90a"
}
.l1-variation .hp-icon.immersive:before {
    content: "\e90d"
}
.l1-variation .hp-icon.mini:before {
    content: "\e915"
}
.l1-variation h2 {
    font-size: 42px
}
.l1-variation .pos-vert-middle,
.l1-variation .pos-vert-middle:after,
.l1-variation .blue-arrow::after {
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.l1-variation .blue-arrow,
.l1-variation .btn {
    display: inline-block;
    text-transform: lowercase
}
.l1-variation .blue-arrow:first-letter,
.l1-variation .btn:first-letter {
    text-transform: uppercase
}
.l1-variation section#top-nav {
    height: 143px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 8;
    background-color: rgba(255, 255, 255, 0.85)
}
.l1-variation section#top-nav .menu-view-all {
    display: none
}
.l1-variation section#top-nav .sub-nav {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0
}
.l1-variation section#top-nav .sub-nav ul {
    display: inline-block;
    margin: 0
}
.l1-variation section#top-nav .sub-nav li {
    list-style: none
}
.l1-variation section#top-nav .sub-nav li a {
    display: block;
    line-height: 1rem
}
.l1-variation section#top-banner {
    height: 600px
}
.l1-variation section#top-banner .overlay-container {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%) translateX(-50%);
    -webkit-transform: translateY(-40%) translateX(-50%);
    -moz-transform: translateY(-40%) translateX(-50%);
    -o-transform: translateY(-40%) translateX(-50%);
    transform: translateY(-40%) translateX(-50%);
    left: 50%;
    max-width: 70rem
}
.l1-variation section#top-banner .overlay-text {
    text-align: right
}
.l1-variation section#top-banner .overlay-text h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #0096d6
}
.l1-variation section#top-banner-mobile img {
    width: 100%
}
.l1-variation section#top-banner-mobile .title {
    padding: 15px 0px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e5e8e8
}
.l1-variation section#top-banner-mobile .title h1 {
    margin: 0;
    color: #0096d6
}
.l1-variation section#top-banner-mobile .title .text-offset {
    display: inline
}
.l1-variation section#featured .overlay-content .standard_price {
    color: #fff;
    margin-top: 5px
}
.l1-variation section#featured .overlay-content .sub-title {
    line-height: 20px
}
.l1-variation section#featured .show-for-small-only img {
    max-width: 90%
}
.l1-variation section#featured .show-for-small-only h4 {
    font-size: 1.5rem;
    margin: 15px 0px 0px 0px
}
.l1-variation section#featured .show-for-small-only .btn {
    color: #000000;
    border-color: #000000
}
.l1-variation section#featured .show-for-small-only .btn:hover {
    background-color: #fff
}
.l1-variation section#featured .show-for-small-only .view-all {
    position: relative;
    height: 60px;
    line-height: 60px;
    background-color: #0096d6;
    margin-top: 10px
}
.l1-variation section#featured .show-for-small-only .view-all img,
.l1-variation section#featured .show-for-small-only .view-all .sub-title {
    display: none
}
.l1-variation section#featured .show-for-small-only .view-all h4 {
    margin: auto;
    display: inline-block;
    color: #fff
}
.l1-variation section#featured .show-for-small-only .view-all a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0
}
.l1-variation section#featured .show-for-small-only .view-all a:hover {
    background-color: transparent
}
.l1-variation section#lifestyle .hp-icon:before {
    font-size: 40px;
    line-height: 40px;
    margin: 0px auto 10px auto
}
.l1-variation section#lifestyle .hp-icon.great-value:before {
    font-size: 35px
}
.l1-variation section#lifestyle .hp-icon.entry-level:before {
    font-size: 55px
}
.l1-variation section#lifestyle .bg-container {
    position: relative;
    background-color: #f9f9f9;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e8e8;
    z-index: 5;
}
.l1-variation section#lifestyle .bg-container:before {
    content: "";
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: -1px;
    z-index: 11;
    border-bottom: 1px solid #e5e8e8
}
.l1-variation section#lifestyle [data-section-title].col-lg-3,
.l1-variation section#lifestyle .product-orbit.col-lg-3 .single-product {
    width: 30%
}
.l1-variation section#lifestyle [data-section-title].col-lg-4,
.l1-variation section#lifestyle .product-orbit.col-lg-4 .single-product {
    width: 25%
}
.l1-variation section#lifestyle [data-section-title].col-lg-5,
.l1-variation section#lifestyle .product-orbit.col-lg-5 .single-product {
    width: 20%
}
.l1-variation section#lifestyle .section-container {
    position: relative
}
.l1-variation section#lifestyle section {
    border: none;
    padding-top: 0px !important;
    background-color: #f9f9f9
}
.l1-variation section#lifestyle section [data-section-title] {
    height: 100px;
    z-index: 11;
    background-color: #fff;
    padding-bottom: 7px;
    border: none
}
.l1-variation section#lifestyle section [data-section-title] .content {
    border: none
}
.l1-variation section#lifestyle section [data-section-title] a {
    width: auto;
    padding-bottom: 8px;
    font-size: 20px
}
.l1-variation section#lifestyle section [data-section-content] {
    border: none;
    background-color: #f9f9f9;
    margin-top: 1px;
    padding: 0px
}
.l1-variation section#lifestyle section .orbit-prev,
.l1-variation section#lifestyle section .orbit-next,
.l1-variation section#lifestyle section .product-group {
    height: 470px !important
}
.l1-variation section#lifestyle section .orbit-prev>span,
.l1-variation section#lifestyle section .orbit-next>span {
    top: 40% !important
}
.l1-variation section#lifestyle section .product-group {
    padding: 0px
}
.l1-variation section#lifestyle section .productSlider {
    margin: 50px 0px 0px 0px
}
.l1-variation section#lifestyle section .productSlider.small .product-group {
    height: auto
}
.l1-variation section#lifestyle section .product-orbit li.product-group,
.l1-variation section#lifestyle section section.productSlider,
.l1-variation section#lifestyle section .sectionTitle {
    background-color: #f9f9f9
}
.l1-variation section#lifestyle section .single-product {
    padding: 0px;
    margin: 0px 4% 0px 0px;
    height: auto
}
.l1-variation section#lifestyle section .single-product .data-holder {
    height: 100%
}
.l1-variation section#lifestyle section .single-product .data-holder .standard_price {
    margin-top: 10px;
    margin-bottom: 5px
}
.l1-variation section#lifestyle section .single-product .product-container {
    border: 1px solid #e5e8e8;
    background-color: #fff;
    padding: 15px 0px
}
.l1-variation section#lifestyle section .product-stack .product-group {
    height: 425px !important
}
.l1-variation section#lifestyle section .product-stack .product-group .single-product {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}
.l1-variation section#lifestyle section .single-product:last-child {
    margin-right: 0px
}
.l1-variation section#lifestyle .tab section [data-section-title] a {
    color: #5a5a5a
}
.l1-variation section#lifestyle .tab section.active [data-section-title] a {
    color: #333333;
    border-bottom: 4px solid #0096d6
}
.l1-variation section#lifestyle [data-section].accordion [data-section-title] {
    background-color: #767676;
    height: 50px;
    line-height: 50px;
    margin-top: 1px
}
.l1-variation section#lifestyle [data-section].accordion [data-section-title] a.toggle {
    width: 100%;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 0px
}
.l1-variation section#lifestyle [data-section].accordion [data-section-content] {
    margin-top: 0px;
    padding-bottom: 20px
}
.l1-variation section#lifestyle [data-section].accordion [data-section-title] .arrow-container {
    position: relative
}
.l1-variation section#lifestyle [data-section].accordion [data-section-title] .arrow-container:after {
    content: "";
    position: absolute;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff
}
.l1-variation section#lifestyle [data-section].accordion section.active [data-section-title] a {
    border: none
}
.l1-variation section#lifestyle [data-section].accordion section.active [data-section-title] .arrow-container:after {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: none
}
.l1-variation section.content-section {
    margin-top: 60px
}
.l1-variation .tabs {
    display: block
}
.l1-variation .btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 50px !important
}
.l1-variation .gutter {
    margin: 10px 0px
}
.l1-variation section#innovation .product-image {
    margin-top: 100px
}
.l1-variation section#innovation .reveal-modal {
    padding: 0px
}
.l1-variation section#innovation .reveal-modal .close-reveal-modal {
    top: -0.275rem;
    right: 0.375rem
}
.l1-variation section#innovation .reveal-modal,
.l1-variation section#innovation .video-container {
    height: 100%;
    max-height: 500px
}
.l1-variation section#innovation.bg-image {
    background-size: 100% 100%;
    max-height: 680px;
    height: 35em;
    height: 70vw
}
.l1-variation section#shopByFamily {
    height: 100%;
    background-color: #efefef
}
.l1-variation section#shopByFamily .product-orbit li.product-group,
.l1-variation section#shopByFamily section.productSlider,
.l1-variation section#shopByFamily .sectionTitle {
    background-color: #efefef
}
.l1-variation section#shopByFamily div#price_holder_ {
    display: none
}
.l1-variation section#shopByFamily .image-container {
    height: 180px;
    line-height: 160px;
    text-align: center;
    padding: 0px 20px
}
.l1-variation .orbit-container .orbit-prev,
.l1-variation .orbit-container .orbit-next {
    background-color: transparent !important;
    height: 350px !important
}
.l1-variation .orbit-container .orbit-prev>span,
.l1-variation .orbit-container .orbit-next>span {
    height: 38px !important;
    width: 38px !important;
    top: 30% !important
}
.l1-variation .orbit-container .orbit-prev>span {
    border-color: #838383 transparent transparent #838383 !important
}
.l1-variation .orbit-container .orbit-next>span {
    border-color: #838383 #838383 transparent transparent !important;
    margin-left: -30px !important
}
.l1-variation section.productSlider .product-orbit li.product-group .single-product .blue-arrow {
    color: #0096d6;
    font-weight: normal;
    padding: 0px
}
.l1-variation section.productSlider .product-orbit li.product-group {
    height: 350px
}
.l1-variation section.productSlider .single-product .blue-arrow::before {
    display: none !important
}
.l1-variation section.productSlider .single-product .blue-arrow {
    color: #0096d6;
    position: relative
}
.l1-variation section.productSlider .single-product .blue-arrow:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 51%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #0096d6
}
.l1-variation section.productSlider .single-product .subtitle {
    margin-top: -5px
}
.l1-variation section.productSlider .single-product img {
    margin: auto
}
.l1-variation section.productSlider .single-product a {
    color: #010101
}
.l1-variation section.productSlider .single-product a:hover {
    color: inherit
}
.l1-variation section.productSlider .single-product a:hover .blue-arrow {
    text-decoration: underline
}
.l1-variation section.productSlider .image-container {
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 0px 20px
}
.l1-variation section.productSlider .image-container img {
    display: inline;
    width: auto;
    vertical-align: bottom;
    max-height: 100%
}
@media (min-width: 641px) and (max-width: 999px) {
    .l1-variation section#top-nav {
        display: none !important
    }
}
@media only screen and (max-width: 64em) and (min-width: 40.063em) {
    .l1-variation section#lifestyle [data-section-title].col-med-3,
    .l1-variation section#lifestyle .product-orbit.col-med-3 .single-product {
        width: 30.6%
    }
    .l1-variation section#lifestyle [data-section-title].col-med-4,
    .l1-variation section#lifestyle .product-orbit.col-med-4 .single-product {
        width: 25%
    }
    .l1-variation section#lifestyle [data-section-title].col-med-5,
    .l1-variation section#lifestyle .product-orbit.col-med-5 .single-product {
        width: 20%
    }
}
@media only screen and (max-width: 40em) {
    .l1-variation section#innovation .btn {
        border: none;
        color: transparent;
        width: 100%;
        height: 100%
    }
    .l1-variation section#innovation .btn:hover {
        color: transparent;
        background-color: transparent
    }
    .l1-variation section#innovation .reveal-modal {
        margin: 0;
        min-height: auto;
        max-height: 300px
    }
    .l1-variation section#innovation.bg-image {
        background-size: 100% 80%;
        background-position: 0 100%;
        background-repeat: no-repeat
    }
    .l1-variation section#promos .columns {
        text-align: center;
        margin-bottom: 20px
    }
    .l1-variation section.productSlider .product-orbit li.product-group {
        padding: 0px
    }
    .l1-variation .product-stack .product-group {
        height: 310px
    }
    .l1-variation .product-stack .column {
        max-height: 1275px;
        overflow-y: hidden;
        transition-property: all;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
    }
    .l1-variation .product-stack .single-product {
        margin: 0px auto 50px auto
    }
    .l1-variation .product-stack .single-product .image-container {
        margin-bottom: 10px
    }
    .l1-variation .product-stack .single-product .cta {
        margin-top: 0px
    }
    .l1-variation .product-stack .view-all-toggle:after {
        content: "View More"
    }
    .l1-variation .product-stack.view-all .column {
        max-height: 100%
    }
    .l1-variation .product-stack.view-all .view-all-toggle:after {
        content: "View Less"
    }
    .lifestyle-tabs .content{
	top:0px;
    }
    .l1-variation section#lifestyle section .product-stack .product-group {
	    height: 400px !important
	}    
}

.l1-variation .hp-icons:before {
	content: attr(data-icon);
}
